* {
  margin: 0px;
  padding: 0;
}
body {
  background-color: #BFF5F5;
  font-size: 1.2rem;
  margin: 0px 64px;
}

hr {
  color: grey;
  margin: 15px 0px;
}

input[type='text'] {
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 4px;
  border: black 2px solid;
  margin: 12px 16px;
}

.resposta {
  width: 300px;
  border: black 3px dashed;
  background-color: rgb(134, 207, 236);
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 0px;
  border-radius: 10px;
}
